.app__header {
  text-align: center;
}

.app__header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.app__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app__title {
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  margin: 20px;
}
